---
layout: archive
title: ""
permalink: /portfolio/
author_profile: true
---
This Blog introduces learners to big data pipelines and workflows as well as processing and analysis of big data using Apache Spark. Apache Spark is a data processing framework that can quickly perform processing tasks on very large data sets, and can also distribute data processing tasks across multiple computers.  
  
{% include base_path %}

{% for post in site.portfolio reversed %}
  {% include archive-single.html %}
{% endfor %}

